################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OptionsPattern/.vs/OptionsPattern
/OptionsPattern/OptionsPattern/bin/Debug/netcoreapp3.1
/OptionsPattern/OptionsPattern/obj
